*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

header {
    text-align: center;
    width: 100vw;
}
header img {
    width: 90px;
}

form {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.search-results {
    width: 45vw;
    display: flex;
    flex-wrap: wrap;

}

.team-div {
    width: 45vw;
    display: flex;

}

.card {
    background-color: yellow;
    width: 24vw;
}

.removeFromTeam {
    
}
